	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,400;1,400;1,700&family=Roboto+Condensed:wght@400;700&display=swap');
	@font-face{ 
	font-family:'Bebas Neue Cyrillic';
	src: url('fonts/bebas_neue_cyrillic/bebasneue_regular-webfont.eot');
	src: url('fonts/bebas_neue_cyrillic/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/bebas_neue_cyrillic/bebasneue_regular-webfont.woff') format('woff'),
	     url('fonts/bebas_neue_cyrillic/bebasneue_regular-webfont.ttf') format('truetype'); 
	}	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	input{
		outline:none;
	}
	
	nav,ul, p{
		overflow: hidden;
	}
	header{
		background: #6ac4b8;
	}
	.parent_of_inline{
		font-size: 0;
	}
	.wrapper{
		max-width: 960px;
		margin:0 auto;
	}
	.block_row{
		display:flex;
		flex-direction: row; /*по умолч.*/
	}
/*Маленькое меню*/
	.service_menu {
		background: #8cd3c9 url("lap_header.png") -7px 1px repeat-x;
		/*text-align: center;*/
		justify-content: center;
	}
	.service_menu li{
		padding-right: 15px;
		position: relative;
		background: #8cd3c9;
	}
	.service_menu li:after{
		position: absolute;
		display: block;
		content: "";
		right: 0;
		top:9px;
		width: 15px;
		height: 15px;
		background: url("sprite_vertical.png") -58px 65px;
	}
	.service_menu li:first-child{
		padding-left:15px;
	}

	.service_menu li:first-child:before{
		position: absolute;
		display: block;
		content: "";
		left: 0;
		top:9px;
		width: 15px;
		height: 15px;
		background:url("sprite_vertical.png") -58px 65px;
	}
	a{
		text-decoration: none;
	}
	.service_menu a{
		display: block;
		font: 14px/14px 'Open Sans',sans-serif ;
		color: #fff;
		padding: 9px calc(13px + 5 * ((100vw - 320px) / (1280 - 320)));
		position: relative;
		font-size: calc(10px + 4 * ((100vw - 320px) / (1280 - 320)));
		line-height: calc(10px + 4 * ((100vw - 320px) / (1280 - 320)));
	}
	.service_menu a:after{
		position: absolute;
		display: block;
		content: " ";
		left: 15px;
		right: 15px;
		bottom: 8px;
		border-bottom: 1px solid #fff;
	}

/*Логотип, поиск и картинка*/
	.container{
		justify-content: space-between;
	}
	.logo_sign{
		margin:10px 0 13px;
	
	}
	.logo_sign p{
		font: bold 20px 'Roboto Condensed',sans-serif;
		color:#157d8c;
		margin: 3px 0 0 6px;
		font-size: calc(15px + 5 * ((100vw - 320px) / (1280 - 320)));
	}
	.search{
		color:#157d8c;
		margin: 26px 0 36px;
	
	}
	.search h1{
		font: italic 22px 'Open Sans',sans-serif;
		margin-bottom: 8px;
		margin-left:-1px;
		font-size: calc(16px + 6 * ((100vw - 320px) / (1280 - 320)));
	}
	.search h1 span{
		font: italic bold 22px 'Open Sans',sans-serif;
		font-size: calc(16px + 6 * ((100vw - 320px) / (1280 - 320)));
	}
	.search input[type="text"]{
		width: 412px;
		height: 30px;
		padding-left: 20px;
		box-sizing: border-box;
		border:none;
	}
	.search input[type="text"]::placeholder{
		color: #92d4cb;
		font: 12px 'Open Sans',sans-serif;
	}
	.search input[type="submit"]{
		width: 30px;
		height: 30px;
		background:#157d8c url("sprite_vertical.png") 0 -406px;
		border:none;
	}
	.container_for_image{
		background:url("sprite_vertical.png") 0 -158px;
		width: 18.229%;
		height: 116px;
		margin: 10px 0 4px;
	}

	.burger{
		display: none;
	}

/*Навигационное меню*/
	header nav{
		border-top: 1px solid #85e8db;
		/*border-top: 1px solid #99dad2;*/
	}
	nav ul{
		justify-content: space-between;
	}
	nav ul li{
		padding-right: 19px;
		position: relative;
	}
	nav ul li:after{
		position: absolute;
		display: block;
		content: "";
		top:17px;
		right: 0;
		width: 17px;
		height: 18px;
		background:url("sprite_vertical.png") -81px -275px;
	}
	nav ul li:first-child{
		padding-left: 15px;
	}
	/*header nav ul li:last-child{
		padding-right: 17px;
	}*/
	nav ul li:first-child:before{
		position: absolute;
		display: block;
		content: "";
		top:17px;
		left:0;
		width: 18px;
		height: 18px;
		background:url("sprite_vertical.png") -81px -275px;
	}
	nav ul li a{
		font:20px/53px 'Roboto Condensed',sans-serif;
		font-size: calc(16px + 4 * ((100vw - 320px) / (1280 - 320)));
		color: #fff;
		display: block;
		/*padding: 0 22.5px;*/
		padding: 0 calc(2.5px + 20 * ((100vw - 320px) / (1280 - 320)));
		white-space: nowrap;
	}
	nav ul li:last-child a{
	  /*  padding: 0 18px 0 25px;*/
	  padding: 0 calc(2px + 16 * ((100vw - 320px) / (1280 - 320))) 0 calc(2px + 23 * ((100vw - 320px) / (1280 - 320)));
	}

/*Основной контент*/
	main.block_row{
		padding-top: 31px;
		justify-content: space-between;
	}
/*Левая часть*/
	main .container_for_news{
		width: 65.625%;
	}
/*Левая часть СЛАЙДЕР*/	
	main .slider_elem{
		position: relative;
	}
	main .slider_elem img{
		max-width: 100%;
	}
	main .slider_elem span{
		position: absolute;
		content: "";
		display: block;
		left:calc(20px + 19 * ((100vw - 320px) / (1280 - 320)));
		/*left:39px;*/
		top:calc(11px + 10 * ((100vw - 320px) / (1280 - 320)));
		/*top:21px;*/
		text-transform: uppercase;
		font:bold 37px 'Bebas Neue Cyrillic';
		color:#fed34f;
		font-size: calc(16px + 21 * ((100vw - 320px) / (1280 - 320)));
	}
	main .slider_elem span+span{
		top:calc(31px + 30 * ((100vw - 320px) / (1280 - 320)));
		/*top:61px;*/
		font:bold 42px 'Bebas Neue Cyrillic';
		color:#fff;
		font-size: calc(18px + 24 * ((100vw - 320px) / (1280 - 320)));
	}
	main .slider_elem .controller{
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		bottom:16px;
	}
	main .slider_elem .controller li{
		display: inline-block;
		margin-left: 8px;
	}
	main .slider_elem .controller li:first-child{
		margin-left: 0;
	}
	main .slider_elem .controller a.active{
		background: #fff;
	}
	main .slider_elem .controller a{
		display: block;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		border:1px solid white;
	}
/*Левая часть СТАТЬИ*/
	main section{
		margin-top: 22px;
		text-align: center;
	}
	main section h2{
		margin-bottom:2px;
		font:bold 31px 'Roboto Condensed';
		
	}
	section article{
		border-top: 1px solid #e3e3e3;
		padding:30px 0;
		justify-content: space-between;
	}
	section article img{
		max-width: 100%;
	}
	.container_for_article{
		font-size: 20px;
		width: 58.412%;
		/*margin-left: 17px;*/
		text-align: left;
	}
	section article h3 a{
		border-bottom: 1px solid #383838;
		font:18px/20px 'Roboto Condensed';
		color: #383838;
		vertical-align: top;
	}
	section article .container_for_article>a{
		border-bottom: 1px solid #6ac4b8;
		font:16px 'Roboto Condensed';
		color:#6ac4b8;
	}
	section article .container_for_article p{
		font:14px/19px 'Open Sans';
		color: #777;
		padding-bottom:15px;
	}
	section article .container_for_client{
		padding:18px 0;
		font-size: 0;
	}
	section article .container_for_client a{
		font:14px 'Open Sans';
		color: #6ac4b8;
		display: inline-block;
		box-sizing: border-box;
		position: relative;
		padding-left:23px;
		margin-right: 28px;
	}
	section article .container_for_client a:before{
		position: absolute;
		display: block;
		top:1px;
		left:0;
		content: "";
		width: 18px;
		height: 16px;
		background:url("sprite_vertical.png") 1px -272px;
	}
	section article .container_for_client a:nth-child(2){
		margin-right: 18px;
	}
	section article .container_for_client a:nth-child(2):before{
		top:4px;
		background:url("sprite_vertical.png") -64px -273px;
	}
	section article .container_for_client a:nth-child(3):before{
		top:3px;
		width: 17px;
		background:url("sprite_vertical.png") -32px -273px;
	}

/*Правая часть*/
	main aside{
		height: 810px;
		width: 31.25%;
	}
/*Правая часть ОПРОС*/
	main aside .interview p{
		font:bold 22px/39px 'Roboto Condensed';
		color: #fff;
		background: #fed34f;
		text-align: center;
	}
	main aside .interview form{
		padding:26px 19px 21px;
		font:18px/25px 'Roboto Condensed';
		color:#383838;
		background: #f3f3f3;
	}
	main aside .interview form input[type="checkbox"]{
		display: none;
	}
	main aside .interview form label:nth-child(2){
		margin-top: 18px;
	}
	main aside .interview form label{
		display: block;
		font:14px/35px 'Open Sans';
		color:#999999;
		cursor: pointer;
		padding-left: 26px;
		position: relative;
	}
	main aside .interview form label:before{
		position: absolute;
		display: block;
		content: "";
		left: 0;
		top:8px;
		width: 12px;
		height: 12px;
		border:1px solid #e3e3e3;
		background: #fff;
	}
	main aside .interview form input:checked+label:before{
		background: #fed34f;
	}
	main aside .interview form input:checked+ label:after{
		position: absolute;
		display: block;
		content: "";
		left: 1px;
		top:9px;
		width: 12px;
		height: 6px;
		border-bottom:1px solid #e3e3e3;
		border-left:1px solid #e3e3e3;
		transform:rotate(-40deg);
		}
	main aside .interview form input:checked+label{
		color:#383838;
	}
	.interview ul {
		justify-content: space-between;
	}
	.interview ul li{
		/*margin-right: 20px;*/
	}
	.interview ul li:last-child a{
		white-space: nowrap;
		word-wrap: normal;
	}
	.interview ul li a{
		font:18px/21px 'Roboto Condensed';
		border-bottom: 1px solid #fed34f;
		color: #fed34f;
		display: block;
		padding-top: 32px;
		position: relative;
		font-size: calc(14px + 4 * ((100vw - 320px) / (1280 - 320)));
	}
	.interview ul li a:before{
		position: absolute;
		display: block;
		content: "";
		left: 37px;
		top:9px;
		width: 16px;
		height: 16px;
		background: url("sprite_vertical.png") -115px -273px;
	}

/*Правая часть ОБСУЖДЕНИЯ*/
	.container_for_discus{
		margin-top: 62px;
	}
	.container_for_discus p{
		font:bold 22px/39px 'Roboto Condensed';
		color: #fff;
		background: #91d35f;
		text-align: center;
	}
	.container_for_discus img{
		max-width: 100%;
	}
	.container_for_discus span{
		font:14px 'Open Sans';
		color: #91d35f;
		display: inline-block;
		box-sizing: border-box;
		position: relative;
		padding:8px 0 8px 23px;
		margin-right:13px;
	}
	.container_for_discus span:before{
		position: absolute;
		display: block;
		top:8px;
		left:0;
		content: "";
		width: 16px;
		height: 16px;
		background:url("sprite_vertical.png") -48px -272px;
	}
	.container_for_discus span+span:before{
		background:url("sprite_vertical.png") -16px -272px;
	}
	.container_for_discus h3 a{
	    border-bottom: 1px solid #383838;
   		font: 18px/20px 'Roboto Condensed';
    	color: #383838;
	}

/*Советы*/
	.container_for_advices{
		background:#f3f3f3 url("lap_advice.png") 0 22px repeat-x;
		text-align: center;
	}
	.container_for_advices h2{
		font: bold 32px 'Roboto Condensed';
		display: inline-block;
		padding: 23px 0 4px;
		color:#383838;
		background: #f3f3f3;
	}
	.container_for_advices .all_advices{
		padding:26px 0;
		border-top: 1px solid #e6e2e2;
		justify-content: space-between;
	}
	.container_for_advices .all_advices .advice_elem{
		position: relative;
	}
	.container_for_advices .all_advices .advice_elem img{
		max-width: 100%;
		vertical-align: top;
	}
	.container_for_advices .all_advices .advice_elem:nth-child(2){
		/*margin:0 30px;*/
	}
	.container_for_advices .all_advices .advice_elem p{
		position: absolute;
		display: inline-block;
		bottom:0;
		left:0;
		content: "";
		background:rgba(42,112,118,0.8);
		height: 60px;
		padding:2px 17px;
		box-sizing: border-box;
		text-align: left;
	}
	.container_for_advices .all_advices .advice_elem a{
		font: 18px/24px 'Roboto Condensed';
		border-bottom: 1px solid #fff;
		color: #fff;
		font-size: calc(15px + 3 * ((100vw - 320px) / (1280 - 320)));
		line-height: calc(17px + 7 * ((100vw - 320px) / (1280 - 320)));
  	}

/*Подписка*/
	div.container_for_registration{
		padding:30px 0 57px;
	}
	.container_for_registration h2{
		font:bold 32px 'Roboto Condensed';
		text-align: center;
		border-bottom: 1px solid #e6e2e2;
	}
	.container_for_registration form{
		margin-top:30px;
		padding:40px 20px;
		background: #fed34f;
		border-radius: 3px;
	}
	.container_for_registration form input[type="text"]{
		width: 38.541%;
		height: 45px;
		padding:15px 20px;
		margin-right: 16px;
		box-sizing: border-box;
		background: #fff;
		border:none;
		border-bottom: 1px solid #dbb53f;
	}
	.container_for_registration form input[type="text"]::placeholder{
		font:16px 'Roboto Condensed';
		color: #9b9b9b;
	}
	.container_for_registration form input[type="submit"]{
		width: 14.583%;
		height: 45px;
		border:none;
		border-bottom: 1px solid #4c97a1;
		background: #6ac4b8;
		color: #fff;
		font:18px 'Roboto Condensed';
	}

/*Подвал*/
	footer{
		background: #157d8c;
	}
/*Навигационное меню*/
	footer nav{	
		border-bottom: 1px solid #85e8db;
	}
	.container_for_logo_second{
		justify-content: space-between;
	}
	footer .logo_sign{
		margin:22px 0 18px 0;
	}
	footer .logo_sign p{
		color:#6ac4b8;
	}
	footer .logo_sign:before{
		background:url("sprite_vertical.png") 0px -326px;
	}

/*Логотип и картинка*/
	footer .container_for_image_second{
		margin-top: -8px;
		background:url("sprite_vertical.png") -7px 0;
		/*background-size:cover;*/
		width: 37.083%;
		height: 156px;
	}
	footer .soc_menu{
		margin:30px 0 87px;
	}
	footer .soc_menu span{
		font:16px/32px 'Roboto Condensed';
		color:#fff;
		vertical-align: top;
		font-size: calc(10px + 6 * ((100vw - 320px) / (1280 - 320)));
		line-height: calc(12px + 20 * ((100vw - 320px) / (1280 - 320)));
		margin-right: 8px;
	}
/*	footer .soc_menu span+span{
		padding-left: 20px;
		
		position: relative;
	}*/
/*	footer .soc_menu span+span:before{
		display: block;
		position: absolute;
		content: "";
		top:6px;
		left: 3px;
		width: 12px;
		height: 14px;
		border-radius: 50%;
		border:1px solid #fff;
	}*/
/*	footer .soc_menu span+span:after{
		display: block;
		position: absolute;
		content: "";
		top:9px;
		left: 7px;
		width: 6px;
		height: 8px;
		border-radius: 48%;
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
		border-left:1px solid #fff;
	}*/
	
	footer .soc_menu a{
		width: 32px;
		height: 32px;
		display: inline-block;
		margin:0 2px;
		border-radius: 50%;
		background:url("sprite_vertical.png") -64px -296px;
		font-size: 0;
	}
	footer .soc_menu a+a{
		background:url("sprite_vertical.png") 0px -296px;
	}
	footer .soc_menu a+a+a{
		background:url("sprite_vertical.png") -31px -296px;
	}

	.clearfix:after{
			content: "";
			display: block;
			clear: both;
	}
	body.mouse{

	}
/*Медиазапросы*/
	@media screen and (max-width: 991px){
		.wrapper{
			max-width: 920px;
			margin:0 auto;
			padding: 0 10px;
		}
		.container_for_image, .container_for_image_second{
			display: none;
		}

		.service_menu {
			background: inherit;
    		background-color:#8cd3c9;
    	}
		.container, .container_for_logo_second {
			justify-content: space-around;
			align-items: center;
		}
		
		nav ul {
			justify-content: center;
		}

	}
	@media screen and (max-width: 767px){
		body.lock{
			overflow: hidden;
		}
		main.block_row {
		flex-direction: column;
		}
		main aside{
			display: none;
			/*width: 50%;*/
		}
		main aside form{
			text-align: left;
		}
		main .container_for_news {
		    width: 100%;
		}
		main .slider_elem img {
		    min-width: 100%;
		}
	/*	main .slider_elem .controller li a{
			width: 40px;
			height: 40px;
		}*/

		.wrapper{
			max-width: 748px;
			margin:0 auto;
			padding: 0 10px;
		}
		header {
			position: fixed;
			width: 100%;
			top:0;
			left: 0;
			z-index: 50;
		}
		header:before {
			content:" ";
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left: 0;
			z-index: 2;
			background: #6ac4b8;
		}
		header .container .logo_sign,	header .container .search, .service_menu {
			position: relative;
			z-index: 3;
		}
		header .container .logo_sign,	header .container .search, footer .logo_sign, footer .soc_menu{
			margin: 0;
		}
		header .container{
			height: 111px;
			border-bottom: 1px solid #85e8db;
		}
		
		.burger{
			display:block;
			position: relative;
			z-index: 3;
			width: 40px;
			height: 30px;
			border-top:2px solid #fff;
			border-bottom:2px solid #fff;
			box-sizing: border-box;
			transition: transform 0.3s ease;
		}
		.burger:before{
			display:block;
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			background: #fff;
			left: 0;
			top:12px;
			transition: transform 0.3s ease;
		}
		.burger.active{
			border-top:2px solid #fff;
			border-bottom:none;
			transform: rotate(45deg) translate(0,12px);
		}	
		.burger.active:before{
			transform: rotate(-90deg) translate(12px,0);
			left: 0;
			top:36%;
		}
		header nav ul.wrapper.block_row{
			position: fixed;
			top:-120%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #157d8c;
			padding-top: 144px;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			transition: top 0.3s ease;
			overflow: auto;
		}
		header nav ul.wrapper.block_row.active{
			top:0;
		}
		header nav ul.wrapper.block_row li{
			margin-top: 20px;
			padding-left:19px;
		}
		
		nav ul li:before{
		position: absolute;
		display: block;
		content: "";
		top:17px;
		left:0;
		width: 18px;
		height: 18px;
		background:url("sprite_vertical.png") -81px -275px;
		}
		main.block_row{
		padding-top: 170px;
		}
		footer nav{
			display: none;
		}
		div.container_for_registration{
			border-bottom: 1px solid #85e8db;
		}
		.logo_sign img{
		max-width: 100%;
		}
		form{
			text-align: center;
		}
		.container_for_registration form {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.container_for_registration form.registration input{
			width: 50%;
			margin-bottom: 10px;
			margin-right: 0;
		}

		.search input[type="text"]{
			width: 75%;
			margin-bottom: 10px;
			margin-right: 0px;
		}
		.container_for_article {
			padding-left: 10px;
		}
	}
	@media screen and (max-width: 650px){
		form{
			text-align: center;
		}
		
	}
	@media screen and (max-width: 520px){
	
   	}
	@media screen and (max-width: 480px){
		.wrapper{
			max-width: 460px;
			margin:0 auto;
			padding: 0 10px;
		}
		.all_advices{
			display: inline-flex;
			flex-direction: column;
		}
		.all_advices .advice_elem{
			margin-bottom: 10px;
		}
		.all_advices .advice_elem p{ 
		
		}
	
		main.wrapper h2, .container_for_advices h2, .wrapper.container_for_registration h2{
			font: bold 21px 'Roboto Condensed';
		}
		.container_for_advices h2 {
			display: block;
		}
		.container_for_registration form.registration input{
			width: 100%;
		}
		article.block_row{
			flex-direction: column;
		}
		article.block_row div {
			width: 100%;
			text-align: center;
		}
		.container_for_advices .all_advices .advice_elem a {
			font: 18px/24px 'Roboto Condensed';
		}
	}

	@media screen and (max-width: 440px){


	}
	@media screen and (max-width: 320px){
		.wrapper{
			max-width: 300px;
			margin:0 auto;
			padding: 0 10px;
		}
		
	}